<div class="jumbotron">
	<h1>Welcome to Eat with Danny!</h1>
	<p>
		You've found the home page for the 
		<%= link_to "Eat with Danny!", "http://dechou100.vsco.co/" %>
		application.
	</p>
	<p>
		<%= link_to "Join Me Now!", "#", class: "btn btn-info btn-large" %>
	</p>
</div>
